.container {
  /* display: flex; */
  background-color: '#fff';
  /* align-items: 'center';
  justify-content: 'center'; */
  margin-top:70
}
.navStyles {
  margin-top:20; 
  margin-bottom: 15;
}

.headerImgRedirect {
  background-image: url('./../../assets/BgndFleurs.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.css-1nrlq1o-MuiFormControl-root {
  width: 50%;
}