.container {
  display: flex;
  background-color: '#fff';
  align-items: 'center';
  justify-content: 'center';
  margin-top:70
}
.navStyles {
  margin-top:20; 
  margin-bottom: 15;
}
.containerp {
  height:30; 
  text-align: 'center';
  font-weight: 600;
  width: 220;
  margin-top:30
}