.container {
  background-color: '#fff';
  margin-top:70
}
.navStyles {
  margin-top:20; 
  margin-bottom: 15;
}

.headerImgRedirect {
  background-image: url('./../../assets/BgndFleurs.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.submitSearch {
  color: black !important;
  font-weight: bolder !important;
  letter-spacing: 5px !important;
}
