.container {
  flex: 1;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-top:460
}
.title1 {
  margin:10;
  font-size:large;
  font-weight:600;
  width:300;
  text-align:center;
  color:#0e0e99
}
.title2 {
  margin:10;
  font-size:medium;
  font-weight:600;
  width:300;
  text-align:right;
  color:black
}
.classicp {
  width:270;
  margin-bottom:10;
  margin-left:10
}

.headerImgRedirect {
  background-image: url('./../assets/BgndFleurs.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.headerImgRedirect p {
  width: 45%;
}

.redirectionMonParcoursPsy, .redirectionGouvernement, .redirectionPsyCom {
  width: 100% !important;
  color: white !important;
  font-weight: 600 !important;
}