.container {
  display:flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top:500;
  background-color: white;
}
.containerList {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 12;
}
.borderPosts {
  border-color:black; 
  border-style:solid; 
  border-width: 1.5px;
  background-image: url('./../../assets/BgndFleurs.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: opacity(0.7); */
  margin-top: 5%;
  width: 90%;
}
Button {
  width: 50%;
}
.deletePostsStyle {
  background-color:white;
  margin: inherit;
  color:brown; 
  font-size:medium; 
  text-transform:uppercase; 
  text-align:center; 
  /* margin-bottom:3; */
  padding: 2% 5%;
}
.modifyPostsp {
  background-color:white;
  margin: inherit;
  color:brown; 
  font-size:medium; 
  text-transform:uppercase; 
  text-align:center; 
  /* margin-bottom:3; */
  padding: 2% 5%;
}
.modifyPosts {
  border-color:#0e0e99;
  border-width :1.5
}
.headerImg {
  background-image: url('./../../assets/BgndFleurs.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.containerp {
  height:auto; 
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-size: xx-large;
  font-weight: 500!important;
  text-shadow: 2px 2px 2px #801818;
  width: auto;
  padding-top: 7%;
}
.postdiv {
  width:auto; 
  padding: 15; 
  border-width: 2; 
  margin-bottom:15; 
  border-color: grey; 
  cursor: pointer
}
.commentdiv {
  width:auto; 
  padding: 15px; 
  border-width: 2px; 
  margin-bottom:15px; 
  background-color: blanchedalmond;
  color: firebrick;
  padding-bottom: 5%;
  cursor: pointer
}
.pData {
  margin:2; 
  font-weight:600
}
.navStyles {
  margin-top:20; 
  margin-bottom: 15; 
  margin: 7px 0;
}  
.separateAndStylesBlocsPosts {
  background-color: #ffffffad;
  border-bottom: 1.5px solid black;
  margin-bottom: 2%;
  color: black;
}
/* //color='#953a85' */
.formAddPost {
  background-color: #ffffffba;
  margin: 5% auto !important;
  width: 80%;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  padding: 2% !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  background-color: #b1590e !important;
  color: white !important;
  margin: 2% auto !important;
}

.separateAndStylesBlocsComments {
  background-color: rgb(190, 203, 243);
  border-bottom: 1.5px solid #060884;
  margin-bottom: 2%;
}

.addComment {
  background-color: white!important;
  color: #9d1616!important;
  font-weight: 500!important;
  width: 90%!important;
  margin: 2%!important;
}

.css-isqn36-MuiButtonBase-root-MuiButton-root:hover {
  color: white !important;
  background-color: rgb(159 75 56) !important;
}

.css-1u3dy0u-MuiButtonBase-root-MuiButton-root:hover {
  color: white !important;
  background-color: rgb(159 75 56) !important;
}