.container {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: start;
}
.App {
  text-align: center;
  background-image: url('./assets/BgndFleurs.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% + 100px);
  min-height: 800px;
}
#formLogin {
  background-color: #ffffffbd;
  margin: 15% auto 5% auto;
  padding: 5% 10%;
}
#formLogin label {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
}
#formLogin button {
  background-color: #df634f;
  width: auto;
  color: white;
  font-size: 1.15em;
}
